.basket {
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-left: 330px;
  min-height: 74px;
  justify-content: space-between;
  margin-bottom: 75px;
}

.basketReturn {
  text-decoration: none;
  color: #fff;
}

.basketCategory {
  font-family: Gilroy;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #fff;
  border-left: 2px solid #618967;
  padding-left: 19px;
}

.basketNumber {
  color: #72a479;
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  padding-left: 15px;
}

.basketContent {
  width: 1096px;
  min-height: 126px;
  background-color: #494544;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.basketContainer{
  flex-grow: 1;
}