.banner {
  background-image: url(../../assets/images/backgroundMain.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 484px;
  display: flex;
  flex-direction: column;
  
}

.bannerContent {
  color: #ffffff;
  transform: rotate(-8.37deg);
  position: relative;
  width: 613px;
  height: 146px;
  left: 95px;
  top: 92px;
  font-family: Zing Rust Demo sans-serif;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 73px;
  text-align: center;
  text-shadow: -5px 5px #403c3b, -5px 5px;
}

.bannerSpan {
  transform: rotate(-8.37deg);
  color: #ffffff;
  font-family: Zing Rust Demo sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  left: 319px;
  top: 120px;
  width: 250px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  
}
