.buttonBasket {
  width: 150px;
  height: 52px;
  background-color: #72a479;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.buttonBasketTitle {
  padding-right: 20px;
  height: 38px;
  border-right: 1px solid #fff;
  display: flex;
  color: #fff;
  align-items: center;
}

.basketNumber {
  margin-left: 20px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gilroy sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  
}
