.cardCategory {
  display: flex;
  width: 1272px;
  /* justify-content: start; */
  font-family: Gilroy sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin: 50px 0;
  padding-left: 20px;
  border-left: 2px solid #72a479;
}

.cardTitle {
  display: flex;
  color: #fff;
}

.containerCard {
  width: 100%;
  max-width: 1364px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.cardImg {
  width: 329px;
  height: 385px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #504b4a;
  overflow: hidden;
  margin: 5px;
  position: relative;
}


.cardContent {
  width: 289px;
  height: 125px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleWeight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleCard {
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
}

.cardWeight {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
}

.cardText {
  color: #cfcfcf;
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.priceBasket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




